.git
.github
.gocache
.gomodcache
bin
dist
tmp
temp
data
logs
coverage.txt
coverage.html
web/node_modules
web/dist
web/.vite

.codex
.cache
.idea
.vscode
vendor
.env
.env.*
web/tsconfig.tsbuildinfo
web/*.tsbuildinfo
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
